/***text***/
$text-blue: #1d9ed9;
$text-grey: #d9d9d9;

/***backgrounds***/
$small-col-bg: #f2f2f2;

/***modules***/

/*gallery*/
$gallery-border: #c8cfd5;
$gallery-thumb-start: #9d9e9d;
$gallery-thumb-end: #d5d5d5;